header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 115px;
  background-color: #000000;
}

.header-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 35px;
}

.header-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}

.header-container nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header-container li a{
  color: #ffffff;
  font-size: 18px;
  padding: 0 15px;
  transition: 0.2s;
}

.header-container li a:hover {
  color: #cccccc;
}

.header-container img {
  height: 45px;
}

.social {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

.social li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s;
}

.social li a:hover {
  background: white;
  color: black;
}

@media (max-width: 1000px) {

  .header-container{

  width: 70%;

}
}